<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterJspPage</filter-name>
        <filter-class>servlets.Filters.NewsfeedFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ServletFilter</filter-name>
        <filter-class>servlets.Filters.LoginNewAccFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AddLikeFilter</filter-name>
        <filter-class>servlets.Filters.AddLikeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AddCommentFilter</filter-name>
        <filter-class>servlets.Filters.AddCommentFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AddFriendFilter</filter-name>
        <filter-class>servlets.Filters.AddFriendFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SharePostFilter</filter-name>
        <filter-class>servlets.Filters.SharePostFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SharePostFilter</filter-name>
        <servlet-name>SharePost</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AddFriendFilter</filter-name>
        <servlet-name>addfriend</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AddCommentFilter</filter-name>
        <servlet-name>addComment</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AddLikeFilter</filter-name>
        <servlet-name>addLike</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ServletFilter</filter-name>
        <servlet-name>NewAccount</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ServletFilter</filter-name>
        <servlet-name>logIn</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterJspPage</filter-name>
        <servlet-name>newsfeed</servlet-name>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>servlets.ListenerConnection</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>servlets.Filters.LoginNewAccFilter</listener-class>
    </listener>
    <servlet>
        <servlet-name>NewAccount</servlet-name>
        <servlet-class>servlets.NewAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>servlets.logIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SharePost</servlet-name>
        <servlet-class>servlets.SharePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addLike</servlet-name>
        <servlet-class>servlets.addLike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addComment</servlet-name>
        <servlet-class>servlets.addComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addfriend</servlet-name>
        <servlet-class>servlets.addfriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsfeed</servlet-name>
        <jsp-file>/View/friend-finder/newsfeed.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>servlets.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewAccount</servlet-name>
        <url-pattern>/NewAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SharePost</servlet-name>
        <url-pattern>/SharePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addLike</servlet-name>
        <url-pattern>/addLike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addComment</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addfriend</servlet-name>
        <url-pattern>/addfriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsfeed</servlet-name>
        <url-pattern>/View/friend-finder/newsfeed.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30000</session-timeout>
    </session-config>
</web-app>
